# ----------------------------
# Environment & Config
# ----------------------------
.env
*.env

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.eggs/
.venv/
venv/
ENV/

# ----------------------------
# Pipenv / Poetry / Virtualenv
# ----------------------------
Pipfile.lock
*Pipfile.lock
poetry.lock

# ----------------------------
# Logs
# ----------------------------
*.log
logs/
log/

# ----------------------------
# Database files
# ----------------------------
*.db
*.sqlite3

# ----------------------------
# Alembic / Mako cache
# ----------------------------
alembic/versions/*.pyc
alembic/versions/*.py
alembic/versions/__pycache__/
alembic/*.mako.py

